/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-3-19, 16:34:50
    Author     : pufan
*/
.s-up {
    color: #f24957;
}
.s-down {
    color: #1dbf60;
}
.content{
    min-height:100%;
}
.bs-footer{
    margin-top: 20px; 
    border-top-width: 1px; 
    padding-top: 20px;
    background-color: #e7e7e7;
}
